<div class="container my-0">
    <!-- <p>education works!</p> -->
    <div class="pb-4" style="background-color: #696f84;">
        <h1 class="title text-uppercase my-3 py-3 mx-5 text-center">Work Experience</h1>
        <div class="mx-5 px-5 my-2">
            <div class="card border border-secondary">
                <div class="card-body">
                    <h3>School and Personal Projects</h3>
                    <li>{{ Projects[0] }}</li>
                    <li>{{ Projects[1] }}</li>
                    <li>{{ Projects[2] }}</li>
                    <li>{{ Projects[3] }}</li>
                </div>
            </div>

            <div class="card border border-secondary">
                <div class="card-body">
                    <h3>Extracurricular Activities</h3>
                    <li>{{ Activities[0] }}</li>
                    <li>{{ Activities[1] }}</li>
                    <li>{{ Activities[2] }}</li>
                </div>
            </div>

            <div class="card border border-secondary">
                <div class="card-body">
                    <h3>Leadership Roles</h3>
                    <li>{{ Leadership[0] }}</li>
                    <li>{{ Leadership[1] }}</li>
                    <li>{{ Leadership[2] }}</li>
                </div>
            </div>

            <div class="card border border-secondary">
                <div class="card-body">
                    <h3>Tutoring</h3>
                    <li>{{ Tutoring[0] }}</li>
                    <li>{{ Tutoring[1] }}</li>
                    <li>{{ Tutoring[2] }}</li>
                </div>
            </div>
        </div>
    </div>
</div>